<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27513369094-4st510c0r9sr98jpgq4o7jodl8rg2g4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27513369094-4st510c0r9sr98jpgq4o7jodl8rg2g4p</string>
	<key>API_KEY</key>
	<string>AIzaSyCVeUnbH1AFtnxYQ3uWG71E3NTRFRldeao</string>
	<key>GCM_SENDER_ID</key>
	<string>27513369094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pe.fernandosalas.Book</string>
	<key>PROJECT_ID</key>
	<string>book-e3556</string>
	<key>STORAGE_BUCKET</key>
	<string>book-e3556.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27513369094:ios:3f503f90b761b8de640987</string>
</dict>
</plist>